@import "tailwindcss";

@theme {
    --color-sdm: #fbfcdc;
}

html,
body,
#root {
    background-color: var(--color-zinc-900);
    margin: 0;
}

option {
    background-color: var(--color-zinc-900);
}